*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.deug{
  background-color: rgba(137, 43, 226, 0.129);
  border: 1px solid black;
  min-height: 30px;
  min-width: 30px;
}

.bold{
  font-weight: 600;
}

a{
  text-decoration: none;
  color: black;
}

a.blu{
  text-decoration: underline;
  color:blue;
}

ul{
  list-style: none;
}

img{
  width: 100%;
}

.row{
  width: 100%;
  display: flex;
}

.container{
  margin: 0 auto;
}

.box{
  display: flex;
}

.button{
  color: white;
  padding: 6px 11px 6px 11px;
  background-color: #0261FF;
  text-align: center;
}
.card{
  width: 100%;
  line-height: 1.5rem;
}


/******************* HEADER ***************/
/****** header top********/
header{
  background-color: #B4D0E7;
  position: relative;
}
.row.top{
  justify-content: space-between;
  font-size: 0.8rem;
  background-color: white;
}

header ul{
  display: flex;
  line-height: 55px;
}

header li{
  padding: 0 15px 0 15px;
}

.jumbo.container{
  max-width: 1000px;
  position: relative;
  max-height: 500px;
}

.col.txt{
  width: calc(100%/3);
  line-height: 1.3rem;
}


.col.img{
  width: calc(100%/1.5);
}

.logo{
  display: flex;
  align-items: center;
  height: 55px;
  }

  /***********jumbo***********/


h1.box{
  font-size: 4rem;
  margin-bottom: 40px;
  margin-top: 100px;
}

.presentazione{
  margin-bottom: 25px;
}

.annulla{
  margin-top: 25px;
}

.arrow{
  font-size: 2.5rem;
  position: absolute;
  bottom: 20px;
}

/******************* /HEADER ***************/

/******************* MAIN ******************/

h2{
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 50px;
  
}

h3{
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 7px;
  line-height: 2rem;
}

main .container{
  max-width: 1000px;
  padding-top: 160px;
  }

  main li{
  padding-top: 8px;
  }
.intestazione .row p{
  margin-right: 50px;
}
/********************* plan *********/
main .plan{
  display: flex;
  margin-top: 56px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.plan .col{
  max-width: 300px;
  width: calc(100%/3);
  border: 1px solid #D3D3D6;
  margin-bottom: 40px;
  gap: 40px;
 
}

.plan .card{
  padding: 15px 30px 25px 30px;
  
}

.plan .card *{
  margin-bottom: 15px;
}

p.user{
  border-bottom: 1px solid #D3D3D6;
  padding: 7px;
  text-align: center;
}
.plan .col .card.type p:first-child{
  font-size: .8rem;
  font-weight: 600;
}
.plan .col .card.type p:last-child{
  color: #777777;
}
.card .button{
  padding: 7px 33px;
  font-size: .9rem;
}

.card.cta{
  border-bottom: 1px solid #D3D3D6;
}

.card.inclusi{
  margin-top: 30px;
  margin-bottom: 30px;
}

.card.lunga{
  border: 1px solid #D3D3D6;
}
.card.lunga .descrizione{
  padding: 27px;
}

.card.lunga .bold{
  padding-top: 15px;
  padding-bottom: 40px;
}

.card .row{
  align-items: center;
  justify-content: space-between;
}
/*********** partner ********/
.box.partner{
  margin-top: 110px;
  margin-bottom: 110px;
}

.partner .txt{
  margin: 40px 0 40px 40px;
  padding-right: 60px;
}
.partner .txt p{
  margin-top: 10px;
  margin-bottom: 30px;
}

.button.white{
  background-color: white;
  color: black;
  border: 1px solid #AEAEAE;
  width: 140px;
  padding: 10px;
  border-radius: 2px;

}
/*************** business ***********/
.business{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  justify-content: space-between;

}
.business .col{
  max-width: calc(100%/3);
}

.business .card{
  max-width: 280px;
  margin-top: 60px;
}

/************** clienti ***********/

.clienti{
  margin-top: 150px;
  margin-bottom: 100px;
}

/******************* /MAIN ******************/

/********************** FOOTER ****************/
footer{
  background-color: black;
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

footer .box{
  justify-content: space-between;
  padding-bottom: 100px;
}
footer .box ul li{
  font-size: .9rem;
  line-height: 2rem;
}
footer .box ul li:first-child{
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 13px;
}

.underline{
  border-bottom: 1px solid black;
}

footer a{
  color: white;
}
/********************** /FOOTER ****************/

/********************* AZIONI *************/

.line:hover{
  border-bottom: 2px solid black;
}
.button:hover{
opacity: 0.9;
}




.list-icon::before{
  font-family: "Font Awesome 5 Free";
  color: solid black;
  font-size: .8rem;
}

.singolo::before{
  content: "\f007";
}

.folder::before{
  content: "\f07b";
}

.team::before{
  content:"\f0c0";
}

.azienda::before{
  content: "\f1ad";
}

.check::before{
  content: "\f00c";
  color: #0261FF;
}

.earth::before{
  content: "\f1ab";
}
/********************* /AZIONI *************/